/* ********************* Mini-Bar ******************* */
#mini-bar{
	width: 100%;
	height: 25px;
	background: #ff3a3e;
}
.mini-bar-items{
	color: #ffffff;
	line-height: 25px;
	float: right;
}
#mini-bar-item-padding{
	padding-left: 8px;
}